@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h4>Welcome</h4>
        <p class="text-lg-center">HIV TESTING SERVICE DATABASE</p>
    </div>*@
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <div>
                <div class="row text-muted">
                    <h4><strong>Welcome,</strong></h4>
                </div>


            </div>
            <p class="lead text-muted"><strong>ZANZIBAR INTERGRATED HIV,HEPATITIS,TB & LEPROSY PROGRAMME.</strong></p>
            <p class="lead text-muted"><strong>HIV TESTING SERVICES</strong></p>
            
            <p>
                <a class="btn btn-primary my-2" asp-controller="HTS" asp-action="Create">HTS DATABASE</a>

                @*<a href="#" class="btn btn-secondary my-2">Site configuration</a>*@
            </p>
        </div>
    </section>
</main>

    @section scripts{


    }
