@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


    <p class="text-muted">
        This web-based database is designed by the Strategic Information unit (SI) team of Zanzibar Integrated HIV,
        Hepatitis, TB and Leprosy Programme (ZIHHTLP), Ministry of Health, Zanzibar. This database
        is aimed at collecting and entering routine data for the "HIV Testing and Counseling Services".
        For more information please do not hesitate to contact Damian Jeremia - SI Coordinator (damian.jeremia@gmail.com), Hafidh saleh - IT Technologist
        (rebuzer@gmail.com) and Yassir Said Ali - IT Support (Dililyamin@gmail.com, Tel: +255776721818).
    </p>

